html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.home-contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    
}

iframe {    
    display: flex;    
    margin: 0 auto;
    background-color: #777;    
    margin-bottom: 2%;
}

p {
    font-size: 18px;
}

